#week {
  width: 122px;
  height: 20px;
  float: left;
}

#Calendar {
  min-width: 854px;
  padding: 50px;
  width: 854px;
  height: 650px;
  border: 1px solid;
}

#dates {
  margin-top: 100px;
  width: 840px;
  height: 707px;
  float: left;
}
#ad {
  text-align: right;
  padding: 10px;
  width: 100px;
  height: 80px;
  float: left;
}
#ad:nth-child(7n) {
  color: blue;
}

#ad:nth-child(7n + 1) {
  color: red;
}
#button {
  margin-left: 550px;
  display: flex;
  color: rgb(96, 61, 141);
  font-size: x-large;
  font-weight: 600;
}
#NowDate {
  color: rgb(96, 61, 141);
  font-size: x-large;
  font-weight: 600;
  padding: 10px;
}
#left,
#right {
  width: 50px;
  height: 50px;
}