* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "NanumSquare", sans-serif;
}

#Calendar {
  margin: 0 auto;
  margin-top: 50px;
  width: 1200px;
  height: 720px;
}

#yearLeft,
#Left,
#NowDate,
#right {
  margin-top: 20px;
}

#button {
  text-align: center;
}

#week-container {
  width: 500px;
  margin-top: 20px;
  margin-left: 80px;
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 40px;
  color: rgb(117, 117, 117);
}

hr {
  width: 450px;
  margin-right: 680px;
  border: 1px solid rgb(244, 233, 248);
}

#InCalendar {
  margin-left: 50px;
  width: 500px;
  float: left;
}

#today {
  width: 500px;
  height: 500px;
  float: right;
  background: rgb(228, 228, 228);
  border-radius: 5px;
  margin-top: -75px;
  margin-right: 60px;
  text-align: center;
}

#bigDay {
  margin-top: 40px;
  color: #111;
  font-size: 100px;
}

#dayContents {
  color: #222;
}

#dates {
  padding-top: 100px;
  border: 1px solid purple;
  margin-top: 100px;
  width: 490px;
  height: 707px;
  float: left;
}
.thisMonthDay,
.lastMonthDay,
.nextMonthDay {
  font-weight: 500;
  text-align: center;
  margin: 20px;
  width: 30px;
  height: 30px;
  float: left;
  color: #000000;
}

.thisMonthDay:nth-child(7n) {
  color: rgb(0, 0, 218);
}

.thisMonthDay:nth-child(7n + 1) {
  color: rgb(218, 0, 0);
}
.lastMonthDay {
  color: rgb(150, 150, 150);
}
.lastMonthDay:nth-child(1) {
  color: rgb(240, 174, 174);
}
.nextMonthDay {
  color: rgb(150, 150, 150);
}
.nextMonthDay:last-child {
  color: rgb(157, 157, 231);
}
#button {
  margin-left: 450px;
  display: flex;
  padding-bottom: 20px;
}
#NowDate {
  color: rgb(136, 79, 211);
  font-size: 2em;
  margin-top: 50px;
  font-weight: 500;
}
#left,
#right {
  margin: 50px 10px;
  font-size: 2em;
  color: rgb(88, 37, 155);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#addContents {
  width: 200px;
  height: 40px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 70px;
}

#willTodo3Day,
#willTodoWeek {
  width: 90%;
  height: 50px;

  margin-left: 5%;
}

#willTodo3Day {
  border: 1px solid rgb(85, 85, 85);
}
#willTodoWeek {
  border-bottom: 1px solid rgb(85, 85, 85);
  border-left: 1px solid rgb(85, 85, 85);
  border-right: 1px solid rgb(85, 85, 85);
}
